In [2]:
! pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.6-cp39-cp39-win_amd64.whl (1.2 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.6

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1129)'))': /simple/psycopg2/

## sqlalchemy

In [6]:
from sqlalchemy import create_engine
import psycopg2
import pandas as pd

In [13]:
engine = create_engine('postgresql://postgres:password@localhost:5432', client_encoding = 'utf8')

In [14]:
conn = engine.connect()

In [16]:
def select(sql):
    return pd.read_sql(sql,conn)

In [17]:
sql = '''
SELECT country_id, country_ FROM country;
'''

In [18]:
select(sql)

   country_id        country_
0           1          Россия
1           2  Великобритания
2           3             США
3           4        Германия
4           5         Франция
5           6           Китай

In [19]:
conn.close()

## psycopg2

In [43]:
import pandas as pd
import psycopg2

conn = psycopg2.connect(  database="postgres",
  user="postgres",
  host="localhost", 
port=5432,
  password="XXXX")

with conn:
    dat = pd.read_sql(sql, conn)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [44]:
dat

   country_id        country_
0           1          Россия
1           2  Великобритания
2           3             США
3           4        Германия
4           5         Франция
5           6           Китай

In [42]:
conn.close()